.user-onboarding__intro {
  background: #8633B4;
  background: -webkit-linear-gradient(to bottom, #4A00E0, #8633B4);
  background: linear-gradient(to bottom, #4A00E0, #8633B4);
  height: 60vh;
  padding: 0px 30px;
}

.user-onboarding__intro > h3 {
  font-size: 3em;
  position: relative;
  color: white;
  top: 40%;
}

.user-onboarding__data-entry {
  background: #C36788;
  background: -webkit-linear-gradient(to bottom, #8633B4, #C36788);
  background: linear-gradient(to bottom, #8633B4, #C36788);
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-onboarding__data-entry--img,
.user-onboarding__saved-groups--img {
  width: 80vw;
}

.user-onboarding__saved-groups {
  background: #FF9A5C;
  background: -webkit-linear-gradient(to bottom, #C36788, #FF9A5C);
  background: linear-gradient(to bottom, #C36788, #FF9A5C);
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-onboarding__saved-groups > h3 {
  font-size: 2em;
  padding: 10px 30px 20px 30px;
}

.user-onboarding__buttons {
  padding: 40px 0px;
  background-color: #FF9A5C;
}

.user-onboarding__buttons > button {
  background-color: #4A00E0;
  color: #FBE8A6;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 8px 20px;
  margin: 0px 20px;
  transition: 0.2s ease-out;
}

.user-onboarding__buttons > button:hover {
  background-color: #FBE8A6;
  color: #2C3763;
  transition: 0.2s ease-in;
}

.user-onboarding__flex-child--left,
.user-onboarding__flex-child--right {
  padding: 60px;
}

.user-onboarding__flex-child--left > h3,
.user-onboarding__flex-child--right > h3 {
  font-size: 1.8em;
  color: white;
}

.user-onboarding__flex-child--left {
  margin-left: 30px;
}

.user-onboarding__flex-child--right {
  margin-right: 30px;
}

.user-onboarding__flex-child--left > p,
.user-onboarding__flex-child--right > p {
  font-size: 1.2em;
  color: white;
}

@media screen and (min-width: 800px) {
  .user-onboarding__data-entry {
    flex-direction: row;
  }

  .user-onboarding__saved-groups {
    flex-direction: row-reverse;
  }

  .user-onboarding__text {
    background-image: 
    linear-gradient(
      rgba(74,0,224,0.4),
      rgba(74,0,224,0.4)
    );
  }

  .user-onboarding__saved-groups--img,
  .user-onboarding__data-entry--img  {
    width: 40vw;
  }
}