.login-page {
  height: calc(100vh - 127px - 20vh);
  background-color: #E2E4F3;
  padding: 20vh 20vw 0vh 20vw;
}

.login-page__main {
  border: 3px solid #FF9A5C;
  border-radius: 10px;
  padding: 20px;
  background-color: whitesmoke;
}

.login-page__password > label,
.login-page__username > label {
  display: block;
  text-align: left;
  width: 180px;
  margin: 0 auto;
}

.login-page__input {
  width: 180px;
}

.login-page__login-error {
  color: red;
}

.login-page__form > button {
  font-size: 16px;
}

@media screen and (min-width: 800px) {
  .login-page__form > button {
    font-size: 14px;
  }
}