.login-page {
  height: calc(100vh - 127px - 20vh);
  background-color: #E2E4F3;
  padding: 20vh 20vw 0vh 20vw;
}

.login-page__main {
  border: 3px solid #FF9A5C;
  border-radius: 10px;
  padding: 20px;
  background-color: whitesmoke;
}

.login-page__password > label,
.login-page__username > label {
  display: block;
  text-align: left;
  width: 180px;
  margin: 0 auto;
}

.login-page__input {
  width: 180px;
}

.login-page__login-error {
  color: red;
}

.login-page__form > button {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 2px 8px;
  margin: 5px 3px;
  margin-bottom: 10px;
}

.login-page__form > button:hover {
  background-color: #FBE8A6;
  color: #2C3763;
  transition: 0.2s ease-in;
}

.login-page__buttons--outline {
  background-color: transparent;
  color: #2C3763;
  border: 2px solid #2C3763;
}

.login-page__buttons--fill {
  background-color: #4A00E0;
  color: #FBE8A6;
  border: 2px solid #4A00E0;
}