@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

.landing {
  background: #3F4F8D;
  background: -webkit-linear-gradient(to top, #4A00E0, #3F4F8D);
  background: linear-gradient(to top, #4A00E0, #3F4F8D);
  height: calc(100vh - 65px);
}

.landing > h1 {
  font-size: 5em;
  font-weight: 900;
  padding: 13px;
  position: relative;
  top: 12vh;
  letter-spacing: 0.05em;
  line-height: 100%;
}

.landing > h2 {
  padding: 10px;
  position: relative;
  top: 12vh;
}

.landing__buttons {
  padding: 20px;
  position: relative;
  top: 12vh;
}

.landing__buttons > button {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 8px 20px;
  margin: 10px 20px;
  transition: 0.2s ease-out;
}

.landing__buttons--outline {
  background-color: transparent;
  color: #FF9A5C;
  border: 2px solid #FF9A5C;
}

.landing__buttons--fill {
  background-color: #FF9A5C;
  color: #2C3763;
  border: none;
}

.landing__buttons > button:hover {
  background-color: #FBE8A6;
  color: #2C3763;
  transition: 0.2s ease-in;
}

.landing__yellow {
  color: #FBE8A6;
}

.landing__orange {
  color: #FF9A5C;
}

@media screen and (min-width: 800px) {

  .landing > h1 {
    font-size: 6em;
  }

  .landing > h1,
  .landing > h2,
  .landing__buttons {
    top: 20vh;
  }

}