.demo-login-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 3px;
  background-color: #e1ece2;
  background: rgba(255, 255, 255, 0.6);
}

.demo-login-info > h3,
.demo-login-info > p {
  margin: 0;
  padding: 0;
}

.demo-login-info > h3 {
  font-size: 1em;
}

.demo-login-info > p {
  font-size: 0.7em;
}