.app {
  text-align: center;
  background-color: #505050;
}

a {
  text-decoration: none;
  color: inherit;
}

/* a:hover {
  text-decoration: underline;
} */

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.25em;
}

button {
  margin: 5px;
  cursor: pointer;
  font-family: inherit;
}

button > a:hover {
  text-decoration: none;
}

textarea {
  font-family: inherit;
  resize: none;
  border: 1px solid silver;
}

/* makes the line numbers appear */
textarea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 12px;
  border-color:#ccc;
  line-height:16px;
}

input {
  font-family: inherit;
  border: 1px solid silver;
}

fieldset {
  border: 2px solid #D3D3D3;
}

legend {
  text-transform: uppercase;
  letter-spacing: 1px;
}