.make-groups-page {
  background-color: #E2E4F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.make-groups-page__body-container {
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(211,211,211,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(211,211,211,1);
  box-shadow: 1px 1px 3px 0px rgba(211,211,211,1);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #FF9A5C;
}

.make-groups-page__body-container > h1 {
  color: #3d3d3d;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.make-groups-page__form--fieldset,
.make-groups-page__form--grouping-characteristics {
  padding: 5px 20px;
  width: 80%;
  margin: 0 auto;
}

.make-groups-page__form--textarea {
  width: 180px;
}

.make-groups-page__form--radio-buttons {
  width: 180px;
  margin: 0 auto;
  text-align: left;
}

.make-groups-page__form--category-name {
  margin: 10px 0px;
}

.make-groups-page__form--explanation {
  font-size: 0.9em;
  color: #3d3d3d;
  padding-bottom: 10px;
}

.make-groups-page__form--buttons {
  padding: 10px;
}

.make-groups-page__sampledata--buttons {
  border-top: 1px solid #3F4F8D;
  padding: 10px;
}

.make-groups-page__sampledata--buttons,
.make-groups-page__form--buttons,
.make-groups-page__form--after-textarea {
  text-align: right;
  padding: 15px;
}

.make-groups-page__sampledata--buttons > button,
.make-groups-page__form--buttons > button,
.make-groups-page__form--after-textarea > button {
  font-family: inherit;
  line-height: 100%;
  font-size: 11px;
  color: #3F4F8D;
  background-color: transparent;
  border: none;
  width: 100px;
  text-align: right;
}

.make-groups-page__form--after-textarea,
.make-groups-page__form--after-textarea > button {
  text-align: center;
}

.make-groups-page__button--container {
  display: flex;
  align-items: center;
}

.make-groups-page__button--icon {
  font-weight: bold;
  font-size: 22px;
  padding-left: 5px;
}

@media screen and (min-width: 800px) {
  .make-groups-page {
    font-size: 0.95em;
  }
  
  .make-groups-page__form--student-data {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
  }

  .make-groups-page__form--fieldset,
  .make-groups-page__form--grouping-characteristics {
    padding: 5px 10px;
    width: 260px;
  }

  .make-groups-page__form--fieldset {
    margin: 5px;
  }

  .make-groups-page__form--before-textarea {
    height: 140px;
  }

  .make-groups-page__form--after-textarea {
    height: 46px;
  }

  .make-groups-page__form--after-textarea > button {
    width: 42%;
  }

}