.groups-made-page__class-tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.groups-made-page__class-tab {
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  padding: 8px;
  margin: 0px 5px;
}

.groups-made-page__class-tab > button {
  border: transparent;
  background-color: transparent;
}

.groups-made-page__class-tab--selected {
  background-color: gray;
}

.groups-made-page__class-tab--new {
  background-color: silver;
}

.groups-made-page__class-groupings {
  border: 1px solid;
  display: flex;
  flex-direction: row;
}

.groups-made-page__groupings-list {
  border: 1px solid black;
  background-color: gainsboro;
  flex-grow: 1;
}

.groups-made-page__groupings {
  border: 1px solid black;
  flex-grow: 5;
}

.groups-made-page__groupings-list--ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.groups-made-page__groupings-list--ul > li {
  margin: 5px;
  border: 1px solid black;
}

.groups-made-page__groupings-list--ul > li > button {
  width: 70%;
  border: transparent;
  background-color: transparent;
}

.groups-made-page__groupings-list--selected {
  background-color: gray;
}

.groups-made-page__groupings-list--new {
  background-color: silver;
}

.groupings {
  padding: 20px 0px;
  background-color: gainsboro;
}

.groupings__groups {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.groupings__groups > div {
  border: 1px solid black;
  min-width: 130px;
}

.groupings__groups > div > ul {
  text-align: left;
}

.group {
  background-color: white;
  padding: 10px;
}

.group > input {
  border: 1px solid white;
}

.group > input:hover {
  border: 1px solid black;
}