.saved-groups-page {
  background-color: #E2E4F3;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 65px);
}

.saved-groups-page__class-tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.saved-groups-page__class-tab {
  border: 2px solid lightgray;
  border-bottom: transparent;
  background-color: gainsboro;
  border-radius: 10px 10px 10px 10px;
  padding: 8px;
  margin: 5px 5px;
  transition: 0.2s ease-out;
  width: 40%;
  min-height: 46px;
}

.saved-groups-page__class-tab > button {
  border: transparent;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  color: #606060;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7em;
}

.saved-groups-page__class-tab--selected {
  background-color: #FF9A5C;
}

.saved-groups-page__class-tab:hover {
  background-color: #FBE8A6;
  transition: 0.2s ease-in;
}

.saved-groups-page__class-tab--new {
  background-color: whitesmoke;
}

.saved-groups-page__class-groupings {
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(211,211,211,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(211,211,211,1);
  box-shadow: 1px 1px 3px 0px rgba(211,211,211,1);
  margin-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  border-top: 3px solid #FF9A5C;
  display: flex;
  flex-direction: column;
}

.saved-groups-page__groupings-list {
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 0px 0px 0px 10px;
}

.saved-groups-page__groupings-list--ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.saved-groups-page__groupings-list--new {
  background-color: whitesmoke;
  border: 2px solid lightgray;
}

.saved-groups-page__groupings-list--ul > li > button {
  border: transparent;
  background-color: transparent;
  font-family: inherit;
}

.saved-groups-page__groupings-list--ul > li {
  margin: 5px;
  width: 45%;
  min-height: 46px;
  border-radius: 5px;
  transition: 0.2s ease-out;
}

.saved-groups-page__groupings-list--ul > li:hover {
  background-color: #FBE8A6;
  transition: 0.2s ease-in;
}

.saved-groups-page__groupings-list--ul > li > button {
  font-weight: bold;
  color: #606060;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7em;
}

.saved-groups-page__groupings-list--selected {
  background-color: #FF9A5C;
  border: 2px solid lightgray;
}

.saved-groups-page__groupings-list--unselected {
  background-color: gainsboro;
  border: 2px solid lightgray;
}

.saved-groups-page__groupings {
  font-size: 0.8em;
  margin: 0px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.saved-groups-page__group {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: gainsboro;
  border: 3px solid lightgray;
  font-weight: bold;
  color: #3d3d3d;
  width: 30%;
}

.saved-groups-page__student {
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: #3d3d3d;
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  cursor: grab;
}

/* tooltip-specific styles */
.saved-groups-page__student {
  position: relative;
}

.saved-groups-page__tooltip > p {
  margin: 0;
}

.saved-groups-page__student .saved-groups-page__tooltip {
  font-size: 0.8em;
  padding: 5px;
  color: white;
  background-color: black;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  width: 180px;
  top: 100%;
  left: 50%;
  /* half of width + padding * -1 to center */
  margin-left: -95px;
  border-radius: 5px;
}

.saved-groups-page__student:hover .saved-groups-page__tooltip {
  visibility: visible;
}

.saved-groups-page__student .saved-groups-page__tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.saved-groups-page__groups > h1 {
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #606060;
}

.saved-groups-page__class--buttons {
  text-align: center;
  position: relative;
}

.saved-groups-page__class--buttons > button {
  font-family: inherit;
  line-height: 100%;
  font-size: 11px;
  color: #3F4F8D;
  background-color: transparent;
  border: none;
  width: 100px;
  text-align: right;
}

.saved-groups-page__main--buttons {
  text-align: right;
  padding: 15px;
}

.saved-groups-page__main--buttons > p {
  font-size: 1.2 em;
  color: #3F4F8D;
  font-weight: bold;
}

.saved-groups-page__main--buttons > button {
  font-family: inherit;
  line-height: 100%;
  font-size: 11px;
  color: #3F4F8D;
  background-color: transparent;
  border: none;
  width: 90px;
  text-align: right;
}

.saved-groups-page__button--container {
  display: flex;
}

.saved-groups-page__button--icon {
  font-size: 22px;
  padding-left: 5px;
}

.saved-groups-page__grouping-heading > h2 {
  color: #3d3d3d;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* prevents drag and drop instruction from being shown on smaller screens,
  which are more likely to be mobile */
.saved-groups-page__grouping-heading > p {
  display: none;
}

.saved-groups-page__grouping-heading {
  color: #606060;
}

.saved-groups-page__show {
  display: block;
}

.saved-groups-page__hide {
  display: none;
}

@media screen and (min-width: 800px) {
  .saved-groups-page__class-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 30px;
  }
  
  .saved-groups-page__class-tab {
    border-radius: 10px 10px 0px 0px;
    margin: 0px 5px;
    width: 125px;
  }
  
  .saved-groups-page__group {
    width: 20%;
  }

  .saved-groups-page__class-groupings {
    flex-direction: row;
    margin: 0px 30px 20px 30px;
  }
  
  .saved-groups-page__groupings-list {
    flex-grow: 1;
  }
  
  .saved-groups-page__groups {
    flex-grow: 5;
    font-size: 1em;
  }
  
  .saved-groups-page__groupings-list--ul {
    flex-direction: column;
  }

  .saved-groups-page__groupings-list--ul > li {
    width: 110px;
  }

  .saved-groups-page__class--buttons {
    text-align: right;
    top: -40px;
    height: 0px;
  }

  .saved-groups-page__groups > h1 {
    padding: 10px 210px;
  }

  /* prevents drag and drop instruction from being shown on smaller screens,
  which are more likely to be mobile */
  .saved-groups-page__grouping-heading > p {
    padding: 0px 10px;
    display: block;
  }
}