.nav-bar {
  background: #3f4f8d;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 0.85em;
  display: flex;
  justify-content: flex-end;
  color: white;
  transition: 0.2s ease-out;
  height: 45px;
}

.nav-bar > a {
  padding: 10px;
}

.nav-bar > a:hover,
.nav-bar__selected {
  text-decoration: underline;
  color: #fbe8a6;
  transition: 0.2s ease-in;
}

@media screen and (min-width: 800px) {
  .nav-bar {
    font-size: 1em;
  }
}
